<h1><%= action_name.capitalize %> Recurring Task</h1>
<%= form_with model: @recurring_task do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.select :schedule, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday'], ['Saturday', 'saturday'], ['Sunday', 'sunday'], ['Workday', 'workday'], ['Weekend', 'weekend']], selected: @recurring_task.schedule&.split(',')), {}, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', recurring_tasks_path %>