<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'workspaces', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><%= link_to 'Inbox', inbox_path, class: ('active' if current_page?(inbox_path)) %></li>
        <li><%= link_to 'Today', today_path, class: ('active' if current_page?(today_path)) %></li>
        <li><%= link_to 'Review', review_path, class: ('active' if current_page?(review_path)) %></li>
        <li><%= link_to 'Master View', master_path, class: ('active' if current_page?(master_path)) %></li>
        <li><%= link_to 'Recurring Tasks', recurring_tasks_path, class: ('active' if current_page?(recurring_tasks_path)) %></li>

      </ul>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>